*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  width: 1140px;
  /* background-color: orange; */
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
}
.row{
  display: flex;
  flex-wrap: wrap;
  margin-left: -16px;
  margin-right: -16px;
  align-items: center;
}
.divw{
  display: flex;
  align-items: center;
}
.logo{
  width: 7%;
}
.logo img{
  width: 100%;
}

.w{
  flex-grow: 1;
}
